body{
    color:rgb(0, 0, 0);
    border:none;
    cursor: pointer;
}
table{
    width: 100%;
    border-collapse: collapse;
}
tr,td{
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: 8px;
    text-align:left;
    
}
.container{
    display: grid;
    grid-template-columns: 20% 60% 10% 10%;
    padding: 10px;
    gap: 10px;

}
.item{
    padding: 10px
}
h3{
    padding: auto;
    background-color: black;
    color: grey;
}
#Add{
    background-color: blue;
    color: white;
}
.material-symbols-outlined{
    color: red;
}
tr.completed{
    text-decoration: line-through;
}